// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#letters {
  display: inline;
  background-color: lightblue;
  padding: 16px;
  margin: 4px;
}

.word-form {
  margin: 16px 0;
  padding: 16px 0;
}
